
p{
  color: white;
  font-size: 18px;
}

.navbar
{
    background-color:rgba(187, 197, 202, 0.753);
}


.jumbotron{
    background: no-repeat center center; 
    background-size: cover linear-gradient(rgba(58, 86, 119, 0.5), rgba(84, 102, 141, 0.5)), url('img/ev-gpjvRZyavZc-unsplash.jpg');
    height: 100vh;
}

/* Place text in the middle of the image */
.display4 {
  text-align: center right;
  color : white;
}
.quote1{
  width: 1592px;
  height: 48px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  bottom: 8px;

}

.introButton{
position: absolute;
align-content: center;
bottom: 8px;
left: 16px;

}
.imageRef1{
  position: center bottom;
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
  }

  /* Body of materials of written information*/
.gutMaterials{
  background:rgba(202, 146, 42, 0.815);
  }

.gutMaterials h2, p{
  color:black;
}

.container{
  border-radius: 15px;
}

/*--- Footer section  */
.page-footer .footer-links {
  text-align: right;
  
}

.page-footer {
  background-color:rgba(187, 197, 202, 0.753);
}

 
@media screen and (max-width: 767px) {
  .page-footer .footer-child {
    
    text-align: center;
  }
}