p {
  color: white;
  font-size: 18px;
}

.heroBanner {
  z-index: 1;
  top: 10px;
  width: 100%;
  height: 100%;
  opacity: 90%;

}
/* Place text in the middle of the video */

.hero-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.quote1{
  color: Orange;
  font-size: 20px;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/* Body of materials of written information*/
.gutMaterials {
  background: rgba(202, 146, 42, 0.815);
  max-width: 100%;

}

.gutMaterials h2, p {
  color: black;
  font-size: 15px;
}


/*--- Footer section  */
.page-footer p,.footer-links {
  text-align: center;
  color:white;
}
